[package]
name = "sr_formats"
version = "0.1.0"
authors = ["Lukas Wirth <lukastw97@gmail.com>"]
edition = "2018"

[dependencies]
nom = "5"
bitflags = "1.0"
encoding_rs = "0.8"
serde = { version = "1.0", features = ["derive"], optional = true }
